doctype transitional
head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='x-apple-disable-message-reformatting')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title
    style(type='text/css' rel='stylesheet' media='all').
        @media only screen{html{min-height:100%;background:#fff}a:visited{text-decoration:none}.footer-description a,.x_footer-description a{color:#0057FF!important;text-decoration:none!important}.footer-description .contextualExtensionHighlight .x_footer-description .contextualExtensionHighlight{color:#0057FF!important;text-decoration:none!important}.footer-description span,.x_footer-description span{color:#0057FF!important;text-decoration:none!important}P{margin:0;margin-bottom:10px;color:#7c8088!important;font-family:Roboto,sans-serif;font-size:16px;font-weight:400!important;line-height:29px;padding:0;text-align:left}a{text-decoration:none}a:visited{color:#7C8088;text-decoration:none}.mobile-hide{display:block}}@media only screen and (max-width:628px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}.container-radius{border-spacing:16px 0!important;padding-top:16px!important}.mobile-hide{display:none!important}.table-order-description{padding-left:8px!important}}@media only screen and (max-width:628px){table.body img{width:auto;height:auto}table.body center{min-width:0!important}table.body .container{width:95%!important}table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .columns{padding-left:0!important;padding-right:0!important}th.small-6{display:inline-block!important;width:50%!important}th.small-12{display:inline-block!important;width:100%!important}.columns th.small-12{display:block!important;width:100%!important}table.menu{width:100%!important}table.menu td,table.menu th{width:auto!important;display:inline-block!important}table.menu.vertical td,table.menu.vertical th{display:block!important}table.menu[align=center]{width:auto!important}.header-logo{margin:0 auto}.header-top-text{margin-right:auto;text-align:center}th.menu-item{width:50px!important;min-width:50px;float:left!important;padding-bottom:8px!important;padding-top:8px!important}th.menu-item .rounded-button{float:left!important}}
    //if mso
        style(typr="text/css", rel="stylesheet", media="all").
            .padding-title{padding-top:10px;padding-bottom:10px;padding-left:8px;padding-right:8px;margin-bottom:0;margin-top:16px}.container-radius{padding-top:32px}@media only screen and (max-width:628px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}.container-radius{border-spacing:0!important;padding-left:16px!important;padding-right:16px!important;padding-top:16px!important}}
    //if gte mso 9
        style(typr="text/css", rel="stylesheet", media="all").
            .container-radius{padding-left:48px;padding-right:48px;padding-top 32px}a{text-decoration:none;text-underline-style:none;text-underline-color:none}.padding-title{padding-top:10px;padding-bottom:10px;padding-left:8px;padding-right:8px;margin-top:16px;margin-bottom:0}@media only screen and (max-width:628px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}.container-radius{border-spacing:0!important;padding-left:16px!important;padding-right:16px!important;padding-top:16px!important}}

body(style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important") 
    span(class="preheader" style="color:#fff;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden")

    table(class="body" style="Margin:0;background-color:#fff;border-collapse:collapse;border-color:transparent;border-spacing:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;width:100%")
        tr(style="padding:0;text-align:left;vertical-align:top")
            td(class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                center(data-parsed="" style="min-width:580px;width:100%")
                    table(class="spacer float-center" style="Margin:0 auto;border-collapse:collapse;border-color:transparent;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%")
                        tbody
                            tr(style="padding:0;text-align:left;vertical-align:top")
                                td(height="40px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                    | &#xA0;
                    table(align="center" class="container header float-center" style="Margin:0 auto;background:0 0;border-collapse:collapse;border-color:transparent;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px;max-width:580px")
                        tbody
                            tr(style="padding:0;text-align:left;vertical-align:top")
                                td(style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                    table(class="row collapse logo-wrapper" style="background:0 0;border-collapse:collapse;border-color:transparent;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%")
                                        tbody
                                            tr(style="padding:0;text-align:left;vertical-align:top")
                                                th(class="small-12 large-6 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:left;width:200px;")
                                                    table(style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%")
                                                        tr(style="padding:0;text-align:left;vertical-align:top")
                                                            th(valign="middle" height="49" style="Margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:middle")
                                                                img(width="200" class="header-logo" src="https://cdn.komikdesu.com/email/templates/logo%20hitam%20biru.png" alt=productName style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:220px;width:auto;height:auto;outline:0;text-decoration:none;max-height:49px")
                                                th(class="small-12 large-6 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0;padding-right:0;text-align:right;width:320px; vertical-align:middle;")
                                                    table(style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:right;vertical-align:top;width:100%")
                                                        tr(style="padding:0;text-align:right;vertical-align:top")
                                                            th(style="Margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:right")
                                                                span(class="header-top-text" style="color:#ACB0B8;display:table;font-size:12px;line-height:29px;text-align:right;width:100%;margin-left:auto;")
                                                                    | Having problems viewing this email?
                                                                    a(class="faded-link" href="https://my.dewabiz.com/clientarea.php?action=emails" style="Margin:0;color:#7C8088!important;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:right;text-decoration:none;margin-left:6px;line-height:8px")
                                                                        | View email online
                    table(class="spacer float-center" style="Margin:0 auto;border-collapse:collapse;border-color:transparent;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%")
                        tbody
                            tr(style="padding:0;text-align:left;vertical-align:top")
                                td(height="32px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                    |&#xA0;
                    table(cellpadding="0" cellspacing="0" border="0" align="center" class="container body-drip float-center" style="Margin:0 auto;background:#fff;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-collapse:collapse;border-color:transparent;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px;max-width:580px")
                        tbody
                            tr(style="padding:0;text-align:left;vertical-align:top")
                                td(style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                    img(width="580" height="8" src="https://cdn.komikdesu.com/email/templates/border-top.png" alt="" style="min-width:100% !important;-ms-interpolation-mode:bicubic;clear:both;display:block;width:100%!important;max-width:580px;outline:0;text-decoration:none;border-top-left-radius:3px;border-top-right-radius:3px;")
                                    table(class="container-radius" style="border-top-width:0;border-top-color:#e6e6e6;border-left-width:1px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-right-width:1px;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-right-color:#e6e6e6;border-left-color:#e6e6e6;border-style:solid;display:table;padding-bottom:32px;border-spacing:48px 0;border-collapse:separate;width:100%;background:#fff;max-width:580px;")
                                        tbody
                                            tr
                                                td
                                                    table(class="row" style="border-collapse:collapse;border-color:transparent;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%")
                                                        tbody
                                                            tr(style="padding:0;text-align:left;vertical-align:top")
                                                    table(class="spacer mobile-hide" style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%")
                                                        tbody
                                                            tr(style="padding:0;text-align:left;vertical-align:top")
                                                                td(height="32px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                                    p
                                                        | To reset your password, please click on the link below.
                                                    p 
                                                        a(href=passwordResetUrl)
                                                            | Reset your password
                                                    p 
                                                        | If you're having trouble, try copying and pasting the following URL into your browser:
                                                        | #{passwordResetUrl}
                                                    p 
                                                        | If you did not request this reset, you can ignore this email. It will expire in 2 hours.
                                                    p 
                                                        | ---
                                                        br
                                                        | #{productName}
                                                        br
                                                        | #{baseUrl}

                        table(class="spacer" style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%")
                            tbody
                                tr(style="padding:0;text-align:left;vertical-align:top")
                                    td(height="40px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                        | &#xA0;
                        table(align="left" class="container aside-content" style="Margin:0 auto;background:#fff;border-collapse:collapse;border-color:transparent;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px")
                            tbody
                                tr(style="padding:0;text-align:left;vertical-align:top")
                                    td(style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                        table(class="row row-wide" style="border-collapse:collapse;border-color:transparent;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%")
                                            tbody
                                                tr(style="padding:0;text-align:left;vertical-align:top")
                                                    th(class="small-12 large-8 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0!important;padding-bottom:16px;padding-left:0;padding-right:0;text-align:left;width:338.67px;vertical-align:middle;")
                                                        table(style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%")
                                                            tr(style="padding:0;text-align:left;vertical-align:top")
                                                                th(style="Margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left")
                                                                    p(style="Margin:0;Margin-bottom:10px;margin-top:10px!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left")
                                                                        a(class="footer-link-color" href=baseUrl style="Margin:0;color:#0C70DE;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none") 
                                                                            b(style="text-underline-style: none;border-bottom:none;border-top:none;")
                                                                                | #{productName}
                                                    //th(class="small-12 large-4 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0!important;padding-bottom:16px;text-align:right;width:120px")
                                                        table(style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:right;vertical-align:top;width:100%")
                                                            tr(style="padding:0;text-align:right;vertical-align:top")
                                                                th(style="Margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:right")
                                                                    table(class="menu" style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:right;vertical-align:top;width:auto;margin-left:auto;border-spacing:0")
                                                                        tr(style="padding:0;text-align:left;vertical-align:top")
                                                                            td(style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word")
                                                                                table(style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%")
                                                                                    tr(style="padding:0;text-align:left;vertical-align:top")
                                                                                        th(style="Margin:0 auto;color:#0a0a0a;width:16px;display:inline-block;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;" width="16px")
                                                                                        th(class="menu-item float-center" style="Margin:0 auto;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:4px 0!important;text-align:center")
                                                                                            a(href="https://www.facebook.com/DewaBizMedia/" style="Margin:0;color:#0057FF;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none")
                                                                                                span(class="rounded-button" style="align-items:center;display:flex;float:right;height:42px;justify-content:center;width:42px;")
                                                                                                    img(src="https://cdn.komikdesu.com/email/templates/fb.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto")
                                                                                        th(class="menu-item float-center" style="Margin:0 auto;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:4px 0!important;text-align:center")
                                                                                            a(href="#" style="Margin:0;color:#0057FF;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none")
                                                                                                span(class="rounded-button" style="align-items:center;display:flex;float:right;height:42px;justify-content:center;width:42px;") 
                                                                                                    img(src="https://cdn.komikdesu.com/email/templates/instagram.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto")
                    table(class="spacer float-center" style="Margin:0 auto;border-collapse:collapse;border-color:transparent;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%")
                        tbody
                            tr(style="padding:0;text-align:left;vertical-align:top")
                                td(height="40px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:40px;font-weight:400;hyphens:auto;line-height:40px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                    | &#xA0;
                    hr(align="center" class="float-center" style="background:#dddedf;border:none;color:#dddedf;height:1px;margin-bottom:0;margin-top:0")
                    table(align="center" class="container aside-content float-center" style="Margin:0 auto;background:#fff;border-collapse:collapse;border-color:transparent;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:580px")
                        tbody
                            tr(style="padding:0;text-align:left;vertical-align:top")
                                td(style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                    table(class="row collapsed footer" style="border-collapse:collapse;border-color:transparent;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%")
                                        tbody
                                            tr(style="padding:0;text-align:left;vertical-align:top")
                                                table(class="row row-wide" style="border-collapse:collapse;border-color:transparent;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%")
                                                    tbody
                                                        tr(style="padding:0;text-align:left;vertical-align:top")
                                                            th(class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0!important;padding-bottom:16px;text-align:left;width:532px")
                                                                table(style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%")
                                                                    tr(style="padding:0;text-align:left;vertical-align:top")
                                                                        th(style="Margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left")
                                                                            table(class="spacer" style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%")
                                                                                tbody
                                                                                tr(style="padding:0;text-align:left;vertical-align:top")
                                                                                    td(height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                                                                        | &#xA0;
                                                                            //table(style="Margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:12px;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;border-spacing:0!important;")
                                                                                tbody
                                                                                    tr
                                                                                        th(class="small-12 large-6 columns first" tabindex="0" role="button" style="text-decoration:none;padding-left:0!important;text-align:left !important;" align="left")
                                                                                            a(class="footer-link" role="link" target="_blank" rel="noopener" href="https://my.dewabiz.com/login.php" style="Margin:0;color:#0C70DE;font-family:Roboto,sans-serif;cursor:pointer;font-size:12px;font-weight:400;line-height:29px;display:inline-block;margin:0;padding:0;text-align:left;text-decoration:none;line-height:18px;")
                                                                                                font(color="#0C70DE")
                                                                                                    | Login to your account
                                                                                        th(style="Margin:0 auto;color:#0a0a0a;width:16px;display:inline-block;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;" width="16px")
                                                                                        th(class="small-12 large-6 columns" tabindex="0" role="button" style="text-decoration:none;padding-left:0!important;text-align:left !important;" align="left")
                                                                                            a(class="footer-link" role="link" target="_blank" rel="noopener" href="https://my.dewabiz.com/submitticket.php" style="Margin:0;color:#0C70DE;font-family:Roboto,sans-serif;cursor:pointer;font-size:12px;font-weight:400;line-height:29px;display:inline-block;margin:0;padding:0;text-align:left;text-decoration:none;line-height:18px;")
                                                                                                font(color="#0C70DE")
                                                                                                    | Support
                                                                                        th(style="Margin:0 auto;color:#0a0a0a;width:16px;display:inline-block;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;" width="16px")
                                                                                        th(class="small-12 large-6 columns" tabindex="0" role="button" style="text-decoration:none;padding-left:0!important;text-align:left !important;" align="left")
                                                                                            a(class="footer-link" role="link" target="_blank" rel="noopener" href="https://dewabiz.com/tos" style="Margin:0;color:#0C70DE;font-family:Roboto,sans-serif;cursor:pointer;font-size:12px;font-weight:400;line-height:29px;display:inline-block;margin:0;padding:0;text-align:left;text-decoration:none;line-height:18px;")
                                                                                                font(color="#0C70DE")
                                                                                                    | Terms of service
                                                                                        th(style="Margin:0 auto;color:#0a0a0a;width:16px;display:inline-block;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;" width="16px")
                                                                                        th(class="small-12 large-6 columns" tabindex="0" role="button" style="text-decoration:none;padding-left:0!important;text-align:left !important;" align="left")
                                                                                            a(class="footer-link" role="link" target="_blank" rel="noopener" href="https://dewabiz.com/sla" style="Margin:0;color:#0C70DE;font-family:Roboto,sans-serif;cursor:pointer;font-size:12px;font-weight:400;line-height:29px;display:inline-block;margin:0;padding:0;text-align:left;text-decoration:none;line-height:18px;")
                                                                                                font(color="#0C70DE")
                                                                                                    | Service Level Agreement
                                                                                        th(style="Margin:0 auto;color:#0a0a0a;width:16px;display:inline-block;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;" width="16px")
                                                                                        th(class="small-12 large-6 columns last" tabindex="0" role="button" style="text-decoration:none;padding-left:0!important;text-align:left !important;" align="left")
                                                                                            a(class="footer-link" role="link" target="_blank" rel="noopener" href="https://dewabiz.com/kontak" style="Margin:0;color:#0C70DE;font-family:Roboto,sans-serif;cursor:pointer;font-size:12px;font-weight:400;line-height:29px;display:inline-block;margin:0;padding:0;text-align:left;text-decoration:none;line-height:18px;")
                                                                                                font(color="#0C70DE")
                                                                                                    | About
                                                                                        th(style="Margin:0 auto;color:#0a0a0a;width:16px;display:inline-block;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;" width="16px")
                                                                            table(class="spacer" style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;background:transparent")
                                                                                tbody
                                                                                    tr(style="padding:0;text-align:left;vertical-align:top")
                                                                                        td(height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                                                                                            | &#xA0;
                                                                            span(class="footer-description" style="color:#ACB0B8;font-size:11px;line-height:18px;padding-bottom:30px;")
                                                                                | © #{year} #{productName}. All rights reserved.
                                                                        th(class="expander" style="Margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0")
    div(style="display:none;white-space:nowrap;font:15px courier;line-height:0")
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    table(class="spacer" style="border-collapse:collapse;border-color:transparent;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;background:transparent")
        tbody
            tr(style="padding:0;text-align:left;vertical-align:top")
                td(height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word")
                    | &#xA0;